Asignaturas/LenguajeMarcas/EjerciciosMarcas/xml/Tarea6/arch5_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="TipoSalario">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"></xs:fractionDigits>
            <xs:totalDigits value="7"></xs:totalDigits>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Planeta"></xs:element>
    <xs:element name="pais" type="TipoSalario"/>
</xs:schema>