Asignaturas/LenguajeMarcas/EjerciciosMarcas/xml/Tarea6/arch5_4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="TipoCaracteres">
        <xs:restriction base="xs:string">
            <xs:maxLength value="140"></xs:maxLength>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Planeta"></xs:element>
    <xs:element name="pais" type="TipoCaracteres"/>
</xs:schema>