Asignaturas/LenguajeMarcas/EjerciciosMarcas/xml/Tarea6/arch5_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="TipoTempPosible">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-75"/>
            <xs:maxInclusive value="75"/>
            <xs:fractionDigits value="3"></xs:fractionDigits>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Planeta"></xs:element>
    <xs:element name="temperatura" type="TipoTempPosible"/>
</xs:schema>