Asignaturas/LenguajeMarcas/EjerciciosMarcas/xml/Tarea8/tarea8_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="TipoColoresSemaforo">
        <xs:restriction base="xs:string">
        <xs:enumeration value="verde"></xs:enumeration>
        <xs:enumeration value="amarillo"></xs:enumeration>
        <xs:enumeration value="rojo"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ListaColoresSemaforo">
        <xs:list>
            
        </xs:list>
    </xs:simpleType>
    <xs:element name="ExpresionRegular"></xs:element>
    <xs:element name="expresion" type="TipoColoresSemaforo"/>
</xs:schema>